::-webkit-scrollbar {
    display: none;
  }

  @font-face {
    font-family: 'Alata';
    src: local('Alata'), url("/fonts/Alata-Regular.ttf") format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  